@import "./styles/reset";
@import "./styles/helpers";
@import "./styles/variables";

@font-face {
  font-family: "Exo2";
  src: url("./assets/fonts/Exo2-VariableFont_wght.ttf")
    format("woff2-variations");
  src: url("./assets/fonts/Exo2-VariableFont_wght.ttf") format("woff2")
    tech("variations");
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
}

@font-face {
  font-family: "Exo2";
  src: url("./assets/fonts/Exo2-Italic-VariableFont_wght.ttf")
    format("woff2-variations");
  src: url("./assets/fonts/Exo2-Italic-VariableFont_wght.ttf") format("woff2")
    tech("variations");
  font-style: italic;
  font-display: swap;
  font-weight: 100 1000;
}

:root {
  --text-color: #{$text-color};
  --background-color: #{$background-color};
  --highlight-color: #{$purple};

  font-family: "Exo2", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #{$text-color-dark};
    --background-color: #{$background-color-dark};
  }
}

a {
  text-decoration: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #f9f9f9;
  }
}
