@import "../../styles/variables";

.misdemeanours-table {
  --alternating-background-color: #{$grey-100};
  --border-color: #{$grey-300};

  @media (prefers-color-scheme: dark) {
    --alternating-background-color: #{$grey-800};
    --border-color: #{$grey-600};
  }

  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: clamp(1rem, 0rem + 2vw, 1.25rem);

  @media (max-width: 799.98px) {
    display: grid;

    tbody {
      display: grid;
    }
  }
}
