@import "../../styles/variables";

.misdemeanour-table__header {
  @media (max-width: $max-breakpoint-m) {
    display: grid;
  }

  &-row {
    border-top: 1px solid var(--border-color);

    @media (max-width: $max-breakpoint-m) {
      display: grid;
    }
  }

  &-titles {
    white-space: nowrap;
    text-transform: uppercase;

    @media (max-width: $max-breakpoint-m) {
      display: none;
    }

    .misdemeanour-table__header-cell {
      border-right: 1px solid var(--border-color);
      border-left: 1px solid var(--border-color);
    }
  }

  &-cell {
    padding: 1em;
  }
}
