.nav__item {
  color: var(--text-color);
  font-size: clamp(1.5rem, 1.3333rem + 0.8333vw, 1.75rem);

  @media (min-width: 800px) {
    font-size: clamp(1.75rem, 0.75rem + 2vw, 2rem);
  }
}

.nav__link {
  color: var(--text-color);

  &:hover,
  &:active,
  &.active {
    color: var(--highlight-color);
  }
}
