@import "./functions";

$purple: #6c2886;
$dark-purple: #694783;
$purple-navy: #544e87;
$yellow: #f7f7a3;
$green: #45808a;
$grey: #aaa;
$white: #fff;
$black: #000;

$grey-100: tint($grey, 80%); //#eee
$grey-200: tint($grey, 60%); //#ddd
$grey-300: tint($grey, 40%); //#ccc
$grey-400: tint($grey, 20%); //#bbb
$grey-500: $grey;
$grey-600: shade($grey, 20%); //#888
$grey-700: shade($grey, 40%); //#666
$grey-800: shade($grey, 60%); //#444
$grey-900: shade($grey, 80%); //#222

$text-color: $grey-800;
$background-color: $white;

$text-color-dark: $grey-100;
$background-color-dark: $grey-900;

$min-breakpoint-xs: 25rem; //400px
$min-breakpoint-s: 37.5rem; //600px
$min-breakpoint-m: 50rem; //800px
$min-breakpoint-l: 62.5rem; //1000px

$max-breakpoint-xs: 24.999rem; //399.98px
$max-breakpoint-s: 37.499rem; //599.98px
$max-breakpoint-m: 49.999rem; //799.98px
$max-breakpoint-l: 62.499rem; //999.98px
